- var topAboutSlider = 2

section.card-top.card-top--revert
    include ../aside/card-aside

    section.top-about.top-about--revert
        h1 #{title}
        .top-about--top-pic
            img(src="./dist/img/" + folder + "/pr-1.jpg", alt="Новый год в Чехии 1")
            img(src="./dist/img/" + folder + "/pr-2.jpg", alt="Новый год в Чехии 2")
        .top-about--slider-pic.slider__5.slider__5--card.jsCardSliderShort
            while topAboutSlider < 10
                div
                    img(src="./dist/img/" + folder + "/pr-" + topAboutSlider++ + ".jpg", alt="")

if healing
    .block-static.block-static--table
        h3 Описание объекта
        each val in description
            p
                =val
        br
        h3 Как добраться
        .table.table--x3.table--x3--small
            .table__heading.table__heading--small
                .td Название
                .td Дни
                    br
                    | проведения
                .td Стоимость
                    br
                    | (за 1 человека)
            .table__row
                .td Чешский Крумлов и замок Глубока над Влтавой (КВ,МЛ,Ях,ФЛ)(T)(Е)(I)
                .td пн, вт, ср, чт, пт
                .td 1000€
            .table__row
                .td Бамберг (КВ,МЛ,Ях,ФЛ)(T)(Е)(I)
                .td пн, вт, ср, чт, пт
                .td 1000€
            .table__row
                .td Чешский Крумлов и замок Глубока над Влтавой (КВ,МЛ,Ях,ФЛ)(T)(Е)(I)
                .td пн, вт, ср, чт, пт
                .td 1000€
            .table__row
                .td Бамберг (КВ,МЛ,Ях,ФЛ)(T)(Е)(I)
                .td пн, вт, ср, чт, пт
                .td 1000€
            .table__row
                .td Чешский Крумлов и замок Глубока над Влтавой (КВ,МЛ,Ях,ФЛ)(T)(Е)(I)
                .td пн, вт, ср, чт, пт
                .td 1000€
            .table__row
                .td Бамберг (КВ,МЛ,Ях,ФЛ)(T)(Е)(I)
                .td пн, вт, ср, чт, пт
                .td 1000€
            .table__row
                .td Чешский Крумлов и замок Глубока над Влтавой (КВ,МЛ,Ях,ФЛ)(T)(Е)(I)
                .td пн, вт, ср, чт, пт
                .td 1000€
            .table__row
                .td Бамберг (КВ,МЛ,Ях,ФЛ)(T)(Е)(I)
                .td пн, вт, ср, чт, пт
                .td 1000€
            .table__row
                .td Чешский Крумлов и замок Глубока над Влтавой (КВ,МЛ,Ях,ФЛ)(T)(Е)(I)
                .td пн, вт, ср, чт, пт
                .td 1000€
            .table__row
                .td Бамберг (КВ,МЛ,Ях,ФЛ)(T)(Е)(I)
                .td пн, вт, ср, чт, пт
                .td 1000€
        br
    a.btn.btn--orange.btn--big(href="javascript:void(0)") Купить тур

else if map
    .block-static.notop
        h3 Описание объекта
        each val in description
            p
                =val
        br
        h3 Как добраться
        iframe(src =map width="100%" height="600" frameborder="0" style="border:0" allowfullscreen)
        br
        h3 Входит в экскурсионные программы:
        a.inner-link(href="javascript:void(0)") Бельгия, Нидерланды, Люксембург (E)(H)
        a.inner-link(href="javascript:void(0)") Бенилюкс (КВ,МЛ,Ях,ФЛ)(E, I)

else

    .block-static
        h3 Описание экскурсии
        each val in description
            p
                =val
        b СТОИМОСТЬ ВХОДНЫХ БИЛЕТОВ В МУЗЕЙ ИГРУШЕК:
        ul
            li
                span
                | Дети до 15 лет и люди от 65 и выше - 30 Кч
            li
                span
                | Семейный входной билет (2 взрослых + 2 ребенка до 15 лет): 120 Кч
            li
                span
                | Взрослый с 15 до 65 лет: 70 Кч
            li
                span
                | Туристическая компания оставляет за собой право вносить изменения в программу.