extends ../base/layout

block variables
  - var title = 'Амстердам'
  - var type = 'Экскурсионные объекты'
  - var folder = 'e-obj'
  - var shortDescr = 'Первое упоминание об Амстердаме датировано 1275 годом. Дословно Амстердам переводится, как «дамба у реки Амстел». На месте города когда то была маленькая рыболовецкая деревушка.'
  - var site = 'http://www.amsterdam.nl/'
  - map = 'https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d9746.284294423007!2d4.882936150037434!3d52.36006427654674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e0!4m3!3m2!1d52.3599733!2d4.8749442!4m3!3m2!1d52.3596802!2d4.8758615!5e0!3m2!1sru!2sru!4v1561856718565!5m2!1sru!2sru'
  - var description = ['XVI - XVII вв. - Золотая Эпоха для Амстердама. Город достигает своего расцвета и становится торговым центром мирового значения. В это время вдоль каналов появляются великолепные особняки De Dolfijen , De Gecroonde Raep , Bartolotti Huis , Huis met de Hoofden , Poppenhuis , Trippenhuis , Van Raey - huizen , Keizersgracht 672-674, Sweedenrijk и Herengracht 462.', 'XVII - XVIII вв. - период войн с Францией и Англией. Несмотря на бедственное послевоенное положение, Амстердам возвращает себе былое благополучие. Постройки этого времени в полной времени отражают успех и процветание города - Huis Van Brienen , Herengracht 284, Huis De Vicq - De Steur , OZ Voorburgwai 237, Keizergracht 224.', 'XVIII - начало XIX вв. – время французской оккупации и сопровождающей ее экономический спад. Многие архитектурные постройки были разрушены в это время.', 'Конец XIX - середина XX в. - упадок, продолжавшийся до конца Второй Мировой. Вторая Мировая стоила жизни более чем десяти процентам населения Амстердама. К концу войны из 80000 евреев, постоянно живших в городе, уцелело только 5000. Убедительным свидетельством этого кошмара остается дневник еврейской девочки Анны Франк.', 'Сегодня Амстердам это город, где легко уживаются множество культур, где можно встретить людей самых разных национальностей. Уникальная архитектура города представляет собой не только исторические здания, но и дизайн-проекты современных архитекторов.']

block header
  include ../blocks/header
block main
  main.grid
    .container
      //breadcrumbs
      include ../elements/breadcrumbs
      // season-top
      include ../blocks/seasons/custom-asisde
    // form
    include ../blocks/form-footer
  // footer
  include ../blocks/footer

block scripts
  include ../base/scripts