extends ../base/layout

block variables
  - var title = 'Пражский Град + Градчаны'
  - var type = 'Экскурсии'
  - var descr = ['Градчанская площадь', 'Лорета', 'Собор Святого Вита', 'Золотая улочка', 'Пражский Град']
  - var folder = 'excursion'
  - var from = 'Прага'
  - var days = 'пн, ср, пт'
  - var long = '3-4 часа'
  - var start = '09:30'
  - var place = 'ст.м.Малостранска'
  - var description = ['Прага расположена в центре Европы, она исторически впитала все события, происходившие в Старом Свете. Неслучайно кинематографисты так любят сюда приезжать: на фоне уникальных архитектурных ансамблей можно красиво снять костюмный и современный фильм.', 'На экскурсии «Пражский Град + Градчаны», приобретенной по доступной цене, вы увидите достопримечательности мирового уровня – многовековую резиденцию чешских королей, комплекс построек, которые находятся под охраной ЮНЕСКО. Такого архитектурного великолепия не встретишь, к примеру, в странах Бенилюкс.', 'Все объекты расположены на близком расстоянии друг от друга, и туристы не устают, переходя из одного места к другому.', 'Экскурсия начинается со знакомства с Градчанами – так называлось престижное поселение вокруг королевской резиденции, расположенное на высоком скалистом холме. Отсюда хорошо просматривается правобережная часть старого центра Праги. Сначала здесь селились дворовые люди, потом местная знать, желавшая жить поблизости к семье правителей Чехии.', 'Именно здесь находятся уникальные исторические постройки потрясающей красоты. Чешская Лорета – комплекс с великолепными фонтанами и скульптурами, с часовней-хижиной Девы Марии, где сохранились серебряный алтарь и старинные фрески, запечатлевшие детство Иисуса.', 'Гид вам расскажет, что в одной из галерей монастырского комплекса размещается Чешская Сокровищница. Среди предметов, выполненных в Вене ювелирами габсбурского императорского двора, хранится знаменитая дароносица «Пражское солнце» из сплава золота и серебра, украшенная 6 222 бриллиантами.', 'На Градчанской площади, расположенной рядом с Пражским Градом, немало достопримечательностей для осмотра: чумной столб, великолепные дворцы чешских аристократов, костёл св.Бенедикта.', 'Но главные потрясения вас ждут, когда вы окажетесь перед собором св. Вита. Глядя на своды готического храма, устремленные в небо, вы невольно вспомните, что «архитектура это застывшая музыка». Но ваши чувства будут переполнены отнюдь не детским восторгом, ваш ум будет непрестанно задаваться вопросом, да как же возможно создать такое чудо. Побывайте внутри собора и оцените красоту витражей на окнах. А выйдя опять на воздух, поблагодарите судьбу, что она привела вас к этому чуду света.', 'В Пражском Граде вас поджидают сильные эмоции на каждом шагу. Старый Королевский дворец поразит своей роскошью и величием. Вам покажут базилику св. Георгия, где крестились чешские князья, и вы удивитесь почтенному возрасту скромного на вид здания - церковь с барочным фасадом построена в X веке. Вы пройдетесь по Золотой улице, где в средние века жили алхимики, ювелиры и ремесленники, и наверняка подумаете про себя: а как им тогда жилось здесь, в атмосфере Средневековья, великой и жёсткой эпохи.', 'Обзорная экскурсия пройдет рядом с пражским музеем игрушек, который при желании можно посетить. Гид поможет вам сориентироваться и приобрести входные билеты.']
  - var price = '741₽ (10€) *'

block header
  include ../blocks/header
block main
  main.grid
    .container
      //breadcrumbs
      include ../elements/breadcrumbs
      // season-top
      include ../blocks/seasons/custom-asisde
    // form
    include ../blocks/form-footer
  // footer
  include ../blocks/footer

block scripts
  include ../base/scripts