// Core
@import "../../node_modules/normalize.css/normalize.css"
@import "../../node_modules/slick-carousel/slick/slick.css"
@import "vendors/jquery-ui.min.css"
@import "core/variables.styl"
@import "core/mixins.styl"
@import "core/fonts.styl"

// Globals
@import "common/global.styl"

// Commons modules
@import "common/base.styl"
@import "common/common.styl"

// Modules
@import "blocks/header.styl"
@import "blocks/footer.styl"
@import "blocks/card-top.styl"
@import "blocks/finder.styl"
@import "blocks/sliders.styl"
@import "blocks/forms.styl"
@import "vendors/ui.styl"