section.finder.finder--horisontal
    .container--small.container--x5
        label.finder__label
            p Город отправления
            select.selector(name="city")
                option(value="Санкт-Петербург") Санкт-Петербург
                option(value="Москва") Москва
                option(value="Екатеринбург") Екатеринбург
                option(value="Казань") Казань
                option(value="Санкт-Петербург") Санкт-Петербург
                option(value="Москва") Москва
                option(value="Екатеринбург") Екатеринбург
                option(value="Казань") Казань
                option(value="Санкт-Петербург") Санкт-Петербург
                option(value="Москва") Москва
                option(value="Екатеринбург") Екатеринбург
                option(value="Казань") Казань
                option(value="Санкт-Петербург") Санкт-Петербург
                option(value="Москва") Москва
                option(value="Екатеринбург") Екатеринбург
                option(value="Казань") Казань
        label.finder__label
            p Страна
            select.selector(name="ciuntry")
                option(value="Польша") Польша
                option(value="Румыния") Румыния
                option(value="Австрия") Австрия
                option(value="Германия") Германия
                option(value="Польша") Польша
                option(value="Румыния") Румыния
                option(value="Австрия") Австрия
                option(value="Германия") Германия
                option(value="Польша") Польша
                option(value="Румыния") Румыния
                option(value="Австрия") Австрия
                option(value="Германия") Германия
                option(value="Польша") Польша
                option(value="Румыния") Румыния
                option(value="Австрия") Австрия
                option(value="Германия") Германия
        label.finder__label
            p Дата вылета
            input.date--single(type="text" value="25.06.2019")
        label.finder__label
            p Дата прилета
            input.date--single(type="text" value="01.07.2019")
        label.finder__label.finder__button
            button.btn.btn--orange найти
