section.services
    a(href="javascript:void(0)").services__item
        img(src="./dist/img/services/1.png", alt="Экскурсии")
        | Экскурсии
    a(href="javascript:void(0)").services__item
        img(src="./dist/img/services/2.png", alt="Экскурсионные объекты")
        | Экскурсионные
        | объекты
    a(href="javascript:void(0)").services__item
        img(src="./dist/img/services/3.png", alt="Визы")
        | Визы
    a(href="javascript:void(0)").services__item
        img(src="./dist/img/services/4.png", alt="Авиабилеты")
        | Авиабилеты