@import '../core/variables.styl';

.header
  width 100%
  height $heightHeader
  background $orange
  transition: 0 .3s ease-in-out all
  position relative
  z-index 5
  +media(1600px)
    height 101px
  +media(1010px)
    height 60px

  &--logo
    width 257px
    position relative
    +media(1600px)
      width 170px
    +media(1010px)
      width 115px
      margin-right 10px

  &--icon
    width 40px
    height 40px
    border: 2px solid #ffffff
    border-radius: 50%
    display block
    background-size auto
    margin 0 8px
    cursor pointer
    +media(1600px)
      width 27px
      height 27px
      margin 0 6px
    +media(1010px)
      margin 0 4px

  &--nav
    &__show
      display flex
      +media(1279px)
        margin-left auto
        margin-right 30px
      +media(1010px)
        margin-right 20px

  &--nav-toggler
    display flex
    justify-content center
    align-items center
    cursor pointer
    position relative
    +media(1010px)
      flex-shrink: 0
    &::after
      content: 'Меню'
      position absolute
      bottom -25px
      left -5px
      right 0
      text-align center
      color #ffffff
      font-size 16px
      font-weight 400
      letter-spacing 0.1px
      +media(1600px)
        font-size: 13px
        bottom -20px
        left -8px
      +media(1010px)
        display none
    i
      color #ffffff
      font-size: 20px
      +media(1600px)
        font-size: 13px

  &--phone
    color #ffffff
    font-size 25px
    font-weight 700
    text-transform uppercase
    +media(1600px)
      font-size: 18px
    +media(1279px)
      display none

  &--location
    color #ffffff
    font-size 21px
    font-weight 400
    cursor pointer
    display flex
    position relative
    &::after
      content: ''
      display: block
      position: absolute
      height: 0
      border: 1px dashed #fff
      bottom: -2px
      left 28px
      width 180px
      +media(1600px)
        left: 20px
        width: 112px
        bottom -1px
    +media(1600px)
      font-size: 13px
    +media(1279px)
      display none
    i
      margin-right 10px
      position relative
      top 7px
      +media(1600px)
        margin-top 7px
        top -2px

.header-container
  align-items center
  height $heightHeader
  max-width calc(100% - 90px)
  width 100%
  margin 0 auto
  display: grid
  grid-template-columns: 5fr 3fr 2fr 2fr auto
  grid-template-rows: 1fr
  grid-template-areas: ". . . . ."
  +media(1600px)
    height 101px
  +media(1279px)
    display flex
    justify-content space-between
    max-width calc(100% - 30px)
  +media(1010px)
    height 60px


.nav__main
  width 100%
  height 100vh
  top 0
  left 0
  transform: scale(.01)
  transform-origin: top right
  position fixed
  background #ffffff url(../img/pattern.jpg) right top no-repeat
  z-index 3
  transition: $middle
  opacity 0
  padding 190px 45px 0
  +media(1600px)
    padding 170px 45px 0

  .nav__main--depth-1
    display none
    list-style: none
    li,
    a
      color $orange
      font-size 21px
      font-weight 400
      letter-spacing 0.21px
      +media(1600px)
        font-size: 19px


  &--depth-0,
  &--static-pages
    display flex
    flex-direction: column
    justify-content flex-start
    align-items flex-start

  &--depth-0,
  &--static-pages,
  &--depth-0 a,
  &--static-pages a
    list-style none
    color $orange
    font-size 28px
    font-weight 700
    +media(1600px)
      font-size: 26px
    li,
    a
      cursor pointer
      border-bottom 2px solid transparent
      transition: $fast
      display inline-block
      &:hover
        border-bottom 2px solid $orange
        +media(1279px)
          border-bottom 2px solid transparent

  &--depth-0
    margin-right 15%
    width 40%
    position relative
    .depth-active
      .nav__main--depth
        transform: scaleX(1)
        opacity 1
        li
          display inline-block
          border-bottom: 0

  &--depth
    position: absolute
    left: 550px
    top 0
    width 450px
    display: flex
    flex-direction: column
    transform: scaleX(0)
    transform-origin: top left
    overflow hidden
    backface-visibility: hidden
    transition: $middle
    opacity 0
    +media(1600px)
      left 410px
    li, a
      font-size: 21px
      font-weight 400
      +media(1600px)
        font-size: 19px

  &--static-pages
    margin-left 10%
    padding-left 10%
    position relative
    &::before
      content: ''
      display block
      position absolute
      left 0
      top 0
      width 2px
      height calc(100% + 30px)
      background $orange
      opacity 0.4

.header--nav-toggler
  i
    transition: $middle

.header--opened
  .header
    background #ffffff
    transition: 1s .3s ease-in-out all
    position fixed
    left 0
    top 0
  .header--nav-toggler
    i
      transform: rotate(90deg)

  .header--phone,
  .header--location,
  .header--nav__show,
  .header--nav-toggler,
  .header--logo
    filter: invert(80%)
    transition: .5s .5s ease-out

  .nav__main
    transform: scale(1)
    background #ffffff url(../img/pattern.jpg) right bottom no-repeat
    background-size 40%
    opacity 1
    display flex
    justify-content flex-start
    align-items flex-start
    +media(1279px)
      background #ffffff
      flex-direction: column
      padding-left 15px
      padding-right 15px
      padding-top 105px
      max-height: 100vh
      overflow auto

      .nav__main--depth-0
        border-top: 2px solid $orange

      .nav__main--static-pages
        border-top: 1px solid #aaa

      .nav__main--static-pages,
      .nav__main--depth-0
        margin 0
        padding 0
        width 100%
        li
          padding 14px 0
          border-top: 1px solid #aaa
          &:nth-of-type(1)
            border-top: 1px solid transparent
        li,
        a
          width 100%
          font-size: 22px
          +media(1010px)
            font-size: 17px !important

      .nav__main--static-pages
        &::before
          display none

      .depth-active ul
        display none



.nav__main-over
  position: fixed;
  width: 20px;
  height: calc(100vh - 101px);
  right: 0;
  top: 101px;
  z-index: 101;
  background: #fff;
  display none
  .header--opened &
    display block


.nav__main--depth-0 li
  +media(1279px)
    position relative
    cursor default

.nav-arrow
  display none
  +media(1279px)
    display: block
    position: absolute
    right: -10px
    top: 7px
    width: 20px
    height: 10px
    background: url(../img/down-arrow.png) center no-repeat
    background-size: cover
    transform: rotate(-90deg)
    border: 20px solid transparent
    box-sizing: content-box
    cursor pointer
    transition: $middle
    &.nav-arrow--revert
      transform: rotate(-90deg) scaleY(-1)
  +media(1010px)
    top 3px

.nav__main--depth-0 a
  +media(1279px)
    width auto !important
    cursor pointer !important

.nav__main--depth
  +media(1279px)
    position relative
    left 0
    top 0
    display none
    transform: scale(1)
    opacity 1
    li
      border 0 !important
      padding 0 !important
      font-size: 18px !important
  +media(1010px)
    padding 10px
    li
      font-size: 15px

.logo-hover
  position absolute
  left 0
  top 0
  opacity 0
  transition: $fast
  .header--opened &
    opacity 1

.header--logo
  .header--opened &
    filter: invert(0)

.header--icon
  position relative
  &.header--icon--show-content
    .header__tooltype
      visibility: visible
      opacity 1

.header__tooltype
  transition: $fast
  position absolute
  background #fff
  z-index 1
  visibility hidden
  opacity 0
  top 50px
  box-shadow 0 3px 7px rgba(54, 53, 53, 0.21)
  border-radius 3px
  background-color #ffffff
  display flex
  flex-direction: column
  align-items center
  justify-content center
  +media(1600px)
    top 35px
  &::before
    content: ''
    display block
    position absolute
    left 0
    right 0
    margin 0 auto
    top -7px
    width: 0
    height: 0
    border-style: solid
    border-width: 0 13.5px 7px 13.5px
    border-color: transparent transparent #ffffff transparent

  &--price
    right -45px
    width 130px
    height 72px
    +media(1600px)
      right -53px
    span
      color #363535
      font-size 14px
      font-weight 400
      letter-spacing -0.35px

  &--lk
    width 213px
    height 79px
    box-shadow 0 3px 7px rgba(54, 53, 53, 0.21)
    border-radius 3px
    background-color #ffffff
    padding 7px 3px
    right -88px
    z-index 2
    +media(1600px)
      right -95px
    a
      color $orange
      font-size 14px
      font-weight 700
      letter-spacing -0.35px
      background #fff
      display block
      width 100%
      height 29px
      line-height 29px
      text-align center
      border-radius: 3px
      z-index 1
      &:hover
        background $orange
        color #ffffff
    .hr
      width 100%
      padding 0
      margin 3px 0
      width 100%
      height 1px
      width 100%
      height 1
      background $orange

  &--search
    box-shadow 0 3px 7px rgba(54, 53, 53, 0.21)
    border-radius 3px
    background-color #ffffff
    right -5px
    padding 0
    z-index 3
    +media(1600px)
      right -13px
    &::before
      left initial
      right 10px

  &--call
    box-shadow 0 3px 7px rgba(54, 53, 53, 0.21)
    border-radius 3px
    background-color #ffffff
    padding 7px 3px
    right -5px
    padding 0
    z-index 4
    width 268px
    +media(1600px)
      right -13px
    input
      max-width 260px
      border: 0
      font-weight 600
      text-align center
      background transparent
    .btn
      width 268px
      height 32px
      border-radius 3px
      background-color #f7901e
    &::before
      left initial
      right 10px

.tooltype__heading
  color #f7901e
  font-size 11px
  font-weight 700
  letter-spacing -0.28px

.tooltype__heading--call
  color #f7901e
  font-size 14px
  font-weight 700
  letter-spacing -0.35px
  padding 15px 0
  text-align center
  box-shadow 0 3px 7px rgba(54, 53, 53, 0.21)
  border-radius: 3px
  width 100%

input[type="checkbox"].checkbox
  display none
  & + label
    cursor pointer
    position relative
    font-size 12px
    font-weight 400
    line-height 12px
    margin 0 auto
    display block
    line-height 1.5
    left 12px
    width 145px
    color #363535
    margin-bottom 10px
    a
      color #f7901e
      text-decoration underline
    &::before
      content: ''
      display block
      left -21px
      width 12px
      height 12px
      border: 1px solid $orange
      position absolute
      top 10px
    &::after
      position absolute
      content: '\2713'
      display block
      left -23px
      width 14px
      height 14px
      color #000
      opacity 0
      top -2px
      font-size: 24px
      transition: $fast
  &:checked
    & + label
        &::after
          opacity 1