
nav.nav__main
    ul.nav__main--depth-0
        li.depth-active
            a(href="javascript:void(0)") Агентствам
            .nav-arrow
            ul.nav__main--depth
                li
                    a(href="javascript:void(0)") Личный кабинет
                li
                    a(href="javascript:void(0)") Поиск тура
                li
                    a(href="javascript:void(0)") Конструктор тура
                li
                    a(href="javascript:void(0)") Наличие мест на рейсах
                li
                    a(href="javascript:void(0)") Контакты
                li
                    a(href="javascript:void(0)") Регистарция агентства
                li
                    a(href="javascript:void(0)") Печать договора
                li
                    a(href="javascript:void(0)") Личный кабинет
                li
                    a(href="javascript:void(0)") Поиск тура
                li
                    a(href="javascript:void(0)") Конструктор тура
                li
                    a(href="javascript:void(0)") Наличие мест на рейсах
                li
                    a(href="javascript:void(0)") Контакты
                li
                    a(href="javascript:void(0)") Регистарция агентства
                li
                    a(href="javascript:void(0)") Печать договора
        li
            a(href="javascript:void(0)") Туристам
            .nav-arrow
            ul.nav__main--depth
                li
                    a(href="javascript:void(0)") Контакты
                li
                    a(href="javascript:void(0)") Поиск тура
                li
                    a(href="javascript:void(0)") Наличие мест на рейсах
                li
                    a(href="javascript:void(0)") Личный кабинет
                li
                    a(href="javascript:void(0)") Регистарция агентства
                li
                    a(href="javascript:void(0)") Печать договора
                li
                    a(href="javascript:void(0)") Конструктор тура
        li
            a(href="javascript:void(0)") Страны
            .nav-arrow
            ul.nav__main--depth
                li
                    a(href="javascript:void(0)") Личный кабинет
                li
                    a(href="javascript:void(0)") Поиск тура
                li
                    a(href="javascript:void(0)") Конструктор тура
                li
                    a(href="javascript:void(0)") Наличие мест на рейсах
                li
                    a(href="javascript:void(0)") Контакты
                li
                    a(href="javascript:void(0)") Регистарция агентства
                li
                    a(href="javascript:void(0)") Печать договора
        li
            a(href="javascript:void(0)") Виды отдыха
            .nav-arrow
            ul.nav__main--depth
                li
                    a(href="javascript:void(0)") Контакты
                li
                    a(href="javascript:void(0)") Поиск тура
                li
                    a(href="javascript:void(0)") Наличие мест на рейсах
                li
                    a(href="javascript:void(0)") Личный кабинет
                li
                    a(href="javascript:void(0)") Регистарция агентства
                li
                    a(href="javascript:void(0)") Печать договора
                li
                    a(href="javascript:void(0)") Конструктор тура
        li
            a(href="javascript:void(0)") Сезоны
            .nav-arrow
            ul.nav__main--depth
                li
                    a(href="javascript:void(0)") Личный кабинет
                li
                    a(href="javascript:void(0)") Поиск тура
                li
                    a(href="javascript:void(0)") Конструктор тура
                li
                    a(href="javascript:void(0)") Наличие мест на рейсах
                li
                    a(href="javascript:void(0)") Контакты
                li
                    a(href="javascript:void(0)") Регистарция агентства
                li
                    a(href="javascript:void(0)") Печать договора
        li
            a(href="javascript:void(0)") Авиа
            .nav-arrow
            ul.nav__main--depth
                li
                    a(href="javascript:void(0)") Контакты
                li
                    a(href="javascript:void(0)") Поиск тура
                li
                    a(href="javascript:void(0)") Наличие мест на рейсах
                li
                    a(href="javascript:void(0)") Личный кабинет
                li
                    a(href="javascript:void(0)") Регистарция агентства
                li
                    a(href="javascript:void(0)") Печать договора
                li
                    a(href="javascript:void(0)") Конструктор тура
        li
            a(href="javascript:void(0)") Визы
            .nav-arrow
            ul.nav__main--depth
                li
                    a(href="javascript:void(0)") Личный кабинет
                li
                    a(href="javascript:void(0)") Поиск тура
                li
                    a(href="javascript:void(0)") Конструктор тура
                li
                    a(href="javascript:void(0)") Наличие мест на рейсах
                li
                    a(href="javascript:void(0)") Контакты
                li
                    a(href="javascript:void(0)") Регистарция агентства
                li
                    a(href="javascript:void(0)") Печать договора

    ul.nav__main--static-pages
        li
            a(href="javascript:void(0)") О компании
        li
            a(href="javascript:void(0)") Контакты
        li
            a(href="javascript:void(0)") Новости
        li
            a(href="javascript:void(0)") Документы
        li
            a(href="javascript:void(0)") Блог
.nav__main-over