section.multy-tour.learn-card.jsSliderCardsLearn
    - var multy = 10
    - for (var multy_i=1; multy_i<=multy; multy_i++)
        .tour-card
            .row
                .tour-card__heading
                    | Весна
            img(src="./dist/img/learn/m-2.jpg", alt="Прага хит")