section.multy-tour.jsSliderCards
    - var multy = 10
    - for (var multy_i=1; multy_i<=multy; multy_i++)
        .tour-card
            .row
                .tour-card__heading Прага + Вена
                .tour-card__price от 150000&nbsp;&#8381;&nbsp;
            .tour-card__days
                | Дни заезда: 
                span пн, вт, ср, чт, пт
            .tour-card__duration
                | Продолжительность: 
                span от 5-х ночей
            .row
                .tour-card__include
                    i Включено в стоимость: 
                    span Перелет
                    span Отель
                .tour-card__more
                    i Дополнительно: 
                    span Трансфер
                    span Виза
                    span Экскурсии
                    span Страховки
            a(href="javascript:void(0)").tour-card__buy Купить
            img(src="./dist/img/m-1.jpg", alt="Прага хит")