section.multy-tour.learn-card.jsSliderCardsLearn
    - var multy = 10
    - for (var multy_i=1; multy_i<=multy; multy_i++)
        .tour-card
            .row
                .tour-card__heading
                    | New в Чехии.
                    br
                    | Лайфхаки, инсайды,
                    br
                    | розыгрыш!
                    br
                    | Будь в курсе!

            img(src="./dist/img/learn/m-3.jpg", alt="Прага хит")