@font-face {
    font-family: 'Geometria';
    src: 
        local('../fonts/Geometria/Geometria-medium'), 
        url('../fonts/Geometria/Geometria-medium.woff') format('woff'), 
        url('../fonts/Geometria/Geometria-medium.otf') format('otf'), 
        url('../fonts/Geometria/Geometria-medium.eot') format('eot'), 
        url('../fonts/Geometria/Geometria-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}