// Paths
$pathToImg = "../img/"
$pathToDevImg = "../../src/img/"
$pathToFonts = "../../src/fonts/"

// Fonts
$reserveFonts = sans-serif;
$mainFont = 'Verdana', $reserveFonts;
$ubs = 'UkrainianBrushScript', $reserveFonts;

// Sizes
$widthContent = 100%
$heightHeader = 127px
$heightFooter = 596px
$gridHeight = "calc( 100vh - %s - %s )" % ($heightHeader $heightFooter)

// Colors
$orange = #f7901e
$gray = #363535
$dark = #4d4d4f

// Animation
$fast = .3s ease-in-out all
$middle = .5s ease-in-out all