// Paths
$pathToImg = "../img/"
$pathToDevImg = "../../src/img/"
$pathToFonts = "../../src/fonts/"

// Fonts
$reserveFonts = sans-serif;
$mainFont = 'Geometria', $reserveFonts;

// Sizes
$widthContent = 1200px
$heightHeader = 92px
$heightFooter = 220px
$gridHeight = "calc( 100vh - %s - %s )" % ($heightHeader $heightFooter)

// Animation
$fast = .3s ease-in-out all
$middle = .5s ease-in-out all