h1 Заграничный паспорт для туристической поездки
img.static__img(src="dist/img/static/passport.jpg", alt="passport")
p Перед тем как начать процедуру оформления, необходимо определиться, загранпаспорт старого или нового образа вы хотите получить.
p Отметим, что тот и другой вид загранпаспорта предоставляют его владельцу равные возможности.
b ЗАГРАНПАСПОРТ НОВОГО ОБРАЗЦА
p Загранпаспорт нового образца обладает повышенной износостойкостью, большим (теперь их 46, против 36-ти в паспорте старого образца) количеством свободных страниц под печати и визы, а также наличием специального микрочипа, в котором хранятся биометрические сведения о гражданине.
p Для получения загранпаспорта нового образца необходимым условием является обязательное снятие отпечатков пальцев.
p Сроки оформления загранпаспорта нового образца такой же, как и для старого образца, а вот государственная пошлина почти в два раза выше.
b СРОЧНЫЙ ЗАГРАНПАСПОРТ В СПБ
p Ранее, гражданин РФ с постоянной пропиской на территории Санкт-Петербурга не менее 5 лет, мог ускорить сроки оформления заграничного паспорта за дополнительную плату.
p Теперь срочное оформление загранпаспорта без уважительной причины запрещено.
p Действующее законодательство четко определяет условия для срочного оформления заграничного паспорта. Среди них – нуждаемость в экстренном лечении за пределами РФ, смерть (болезнь) близкого родственника и прочие исключительные обстоятельства.
p В случае, не терпящем отлагательств, заграничный паспорт может быть выдан в течение 3-х дней.
p Основания для ускоренного оформления загранпаспорта должны быть подтверждены документально.
b ПЕРЕЧЕНЬ ДОКУМЕНТОВ И ФОРМА ЗАЯВЛЕНИЯ НА ЗАГРАНПАСПОРТ
p Необходимый пакет документов на загранпаспорт:
ul
    li
        span
        | Заявление о выдаче загранпаспорта.
    li
        span
        | Паспорт гражданина РФ и его копия.
    li
        span
        | Три фотографии 35 на 45 мм. (не требуются при оформлении паспорта нового образца).
    li
        span
        | Копии военного билета для мужчин старше 25 лет, зачисленных в запас.
    li
        span
        | Разрешение командования на выезд за границу для военнослужащих.
    li
        span
        | Загранпаспорт с истекшим сроком действия / действующий загранпаспорт (в случае оформления второго загранпаспорта).
    li
        span
        | Объяснения в письменной форме в случае замены паспорта из-за его утраты, порчи , хищения.
i Не нужно предоставлять:
ul
    li
        span
        | справку из военкомата,
    li
        span
        | трудовую книжку.
p Сведения о стаже работы указываются в анкете, а сведения из военкомата Управление по вопросам миграции получает самостоятельно путём направления межведомственного запроса.
b СРОК ОФОРМЛЕНИЯ ЗАГРАНПАСПОРТА
p Срок оформления загранпаспорта по месту жительства, то есть при наличии постоянной прописки в Санкт-Петербурге будет составлять 1 месяц.
p При отсутствии постоянной прописки в Санкт-Петербурге заграничный паспорт оформляется в течение 3-х месяцев.
p В случае «наличия допуска к секретности» сроки оформления паспорта увеличиваются до полугода. Увеличение сроков оформления обосновано необходимостью получения дополнительной информации и проведением длительных проверок.
b ГДЕ И КАК МОЖНО ОФОРМИТЬ ЗАГРАНПАСПОРТ
p Единый центр документов (ЕЦД), а точнее отдел оформления заграничных паспортов Управления по вопросам миграции, расположенный в одном здании с ним, предоставляет возможность оформить только заграничный паспорт нового поколения.
p Прием документов осуществляется на БЕСПЛАТНОЙ основе.
p Любые организации, оказывающие услуги на территории Единого центра, являются коммерческими посредниками и услуг по оформлению официальных документов не оказывают, ограничиваясь технической помощью в заполнении анкет.
p Загранпаспорт старого образца может быть оформлен в районных МФЦ.
p Правда, это возможно только при наличии постоянной регистрации в СПб. Остальные граждане для получения загранпаспорта старого образца могут обращаться в районные миграционные отделы по месту своего пребывания.
p Узнать условия оформления загранпаспорта в МФЦ можно по телефону +7 (812) 573-90-00
p Оформление заграничного паспорта возможно через портал государственных услуг www.gosuslugi.ru
p Чтобы оформить загранпаспорт с использованием портала Госуслуг необходимо:
ul
    li
        span
        | Зарегистрироваться на портале, для чего необходимо ввести свои персональные данные, номер, серию и дату выдачи паспорта, номер СНИЛС, ИНН
    li
        span
        | Активировать учетную запись в МФЦ (необходимо лично явиться в МФЦ со своим паспортом).
    li
        span
        | Заполнить анкету на портале.
    li
        span
        | Получить приглашение на прием в Управление по вопросам миграции.
p Таким образом, оформление паспорта через портал также предполагает личную подачу документов в Управление по вопросам миграции.
b ГОСПОШЛИНА НА ЗАГРАНПАСПОРТ
p Государственная пошлина за выдачу заграничного паспорта с 1 сентября 2018 года составляет:
.table.table--x3
    .table__heading
        .td
        .td Новый образец
        .td Старый образец
    .table__row
        .td Срок действия
        .td 10 лет
        .td 5 лет
    .table__row
        .td Госпошлина для взрослых
        .td 5000 рублей
        .td 2000 рублей
    .table__row
        .td Госпошлина для детей до 14 лет	
        .td 2500рублей
        .td 1000рублей
i При оформлении загранпаспорта через портал Госуслуги предоставляется скидка в размере 30%.
p Остерегайтесь мошенников и не верьте обещаниям оформить паспорт в сжатые сроки – это невозможно.
p Получение заграничного паспорта возможно только в рамках предусмотренной законом процедуры и в сроки, установленные законом.
p Дополнительную информацию можно получить на сайте 
    a.orange(href="javascript:void(0)") ufms.spb.ru