.ui-corner-all, .ui-corner-bottom, .ui-corner-br, .ui-corner-right,
.ui-selectmenu-button.ui-button
    border-radius: 3px;
    border: 1px solid #f7901e;
    background-color: #fff;
    padding: 16px 13px;
    width 280px
    height 50px
    outline: none
    +media(1600px)
        width 200px
        height 45px
        padding 13px
    +media(1279px)
        width 310px
    +media(1010px)
        width 100%
        height 35px
        padding 9px 14px

    .footer &
        width 230px
        border: 0
        border-bottom: 1px solid
        background transparent
        color $orange
        height 40px
        padding-left 0
        border-radius: 0
        padding-bottom 10px
        +media(1279px)
            width 170px

.ui-menu .ui-menu-item-wrapper
    width calc(100% - 20px)

.ui-widget.ui-widget-content
    height auto
    padding 10px 0 0
    width 280px !important
    max-height 280px !important
    +media(1600px)
        width 200px !important
        max-height 200px !important
    +media(1279px)
        width calc(100vw - 47px)!important

.ui-button.ui-state-active:hover, .ui-button:active, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active
    border: 1px solid #f7901e;
    background: #f7901e;

/* datepicker css */

.ui-datepicker {
    text-align: center;
}

.ui-datepicker-trigger {
    margin: 0 0 0 5px;
    vertical-align: text-top;
}

.ui-datepicker {
    font-family: Open Sans, Arial, sans-serif;
    margin-top: 2px;
    padding: 0 !important;
    border-color: #c9f0f5 !important;
}

.ui-datepicker {
    width: 256px;
}

.openemr-calendar .ui-datepicker {
    width: 191px;
}

.ui-datepicker table {
    width: 256px;
    table-layout: fixed;
}

.openemr-calendar .ui-datepicker table {
    width: 191px;
    table-layout: fixed;
}

.ui-datepicker-header {
    background-color: $orange !important;
    background-image: none !important;
    border-radius: 0;
}

.openemr-calendar .ui-datepicker-header {
    background-color: #e6f7f9 !important;
    border-width: 1px;
    border-color: #c9f0f5;
    border-style: solid;
}

.ui-datepicker-title {
    line-height: 35px !important;
    margin: 0 10px !important;
}

.openemr-calendar .ui-datepicker-title {
    line-height: 20px !important;
}

.ui-datepicker-prev span {
    display: none !important;
}

.ui-datepicker-next {
    text-align: center;
}

.ui-datepicker-next span {
    display: none !important;
}

.ui-datepicker-prev {
    background-color: transparent !important;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAUklEQVQYlXWPwQnAMAwDj9IBOlpH8CjdJLNksuujFIJjC/w6WUioFBcqJ7sGEAD5Y/hpqLRghRv4YQlUjqXI3Kql2MixraGbEhVcDXcFUR/1egEHNuTBpFW0NgAAAABJRU5ErkJggg==') !important;
    height: 12px !important;
    width: 7px !important;
    margin: 14px 12px;
    display: inline-block;
    left: 0 !important;
    top: 0 !important;
}

.openemr-calendar .ui-datepicker-prev {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAOCAYAAAD9lDaoAAAAuUlEQVQokXXRsUtCYRAA8J8pDQ1CVIgIgtBU2NDiZIuDS4uLf6WDS1O0tLREEE8icBNKS3lTs8/B78XHw3dwcHA/juOuqjzucYJVrQQMcYctvo4OgEFIeMK6iPphCjzjEWLUC3vACx7yRo5uMUIFr5gii1EL41AvMIkBVPGH04DrSLEsIvjEOZq4wi9+iijDR0ANXOMbmxjlcIY2LtANO6YxymGCDs5wg/ciYv+KBJeY4+2A+Y9j4Y47RtUkrNXeDxUAAAAASUVORK5CYII=') !important;
    height: 14px !important;
    width: 9px !important;
    margin: 5px !important;
}

.ui-datepicker-next {
    cursor: pointer;
}

.ui-datepicker-prev {
    cursor: pointer;
}

.ui-datepicker-next {
    background-color: transparent !important;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAVUlEQVQYlXWQ0Q3AIAhEL07gKI7kKN2kI3Wk1w9to3KQEELucQEECOizhhTQGHFnwOdgobWx0GkZILfYBhXl0STVbPoBarbkL7ozN/F8VBBXh8uJgF5r2hrI4GHUkAAAAABJRU5ErkJggg==') !important;
    height: 12px !important;
    width: 8px !important;
    margin: 14px 12px;
    display: inline-block;
    right: 0 !important;
    top: 0 !important;
}

.openemr-calendar .ui-datepicker-next {
    height: 14px !important;
    width: 8px !important;
    margin: 5px;
}

.ui-datepicker-month {
    border-radius: 2px;
    background-color: $orange;
    width: 110px !important;
    height: 22px;
    font-family: Open Sans !important;
    color: #fff;
    font-size: 14px !important;
    font-weight: 600;
    text-align: left;
    border: none !important;
    margin-right: 17px !important;
    vertical-align: text-top;
}

.openemr-calendar .ui-datepicker-month {
    font-family: Open Sans, Arial, sans-serif;
    color: rgba(34, 34, 34, 0.87);
    font-size: 12px !important;
    font-weight: 700;
    text-align: center;
    transform: scaleX(1.0029)
}

.ui-datepicker-year {
    border-radius: 2px;
    background-color: $orange;
    width: 61px !important;
    height: 22px;
    border: none !important;
    font-family: Open Sans !important;
    color: #fff;
    font-size: 14px !important;
    font-weight: 600;
    text-align: left;
    vertical-align: text-top;
}

.openemr-calendar .ui-datepicker-year {
    font-family: Open Sans, Arial, sans-serif;
    color: rgba(34, 34, 34, 0.87);
    font-size: 12px !important;
    font-weight: 700;
    text-align: center;
    transform: scaleX(1.0029)
}

.ui-datepicker-month option,
.ui-datepicker-year option {
    color: $orange !important;
    background-color: #fff !important;
    font-family: Open Sans !important;
    font-size: 14px !important;
    font-weight: 600;
}

.ui-datepicker-month option[selected],
.ui-datepicker-year option[selected] {
    background-color: #e5edf0 !important;
}

.ui-datepicker .ui-state-hover {
    /*background: none !important;*/
    border: 0 !important;
}

.ui-datepicker td {
    vertical-align: top;
}

.ui-datepicker .ui-state-default {
    border-radius: 2px;
    border-color: #edebeb !important;
/*     background: white !important; */
    width: 24px;
    height: 24px;
    padding: 0 !important;
    line-height: 24px;
    text-align: center !important;
    font-family: Open Sans, Arial, sans-serif;
    color: #707070;
    font-size: 13px;
    font-weight: 400 !important;
    margin: 7px 0 0 4px;
}

.ui-datepicker .ui-state-default.ui-state-highlight{
    border-color: #dcdcdc;
    background-color: #cff3f8 !important;
    color: #3e9aba !important;
}

.openemr-calendar .ui-state-default {
    font-size: 10px;
    margin: 0;
}

.ui-datepicker td {
    width: 33px;
}

.openemr-calendar .ui-datepicker td {
    width: 26px;
}

.openemr-calendar .ui-state-default {
    width: 26px;
    height: 20px;
    line-height: 20px;
}
.ui-state-default.ui-state-hover {
    border-color: #dcdcdc;
    background-color: #cff3f8 !important;
}

.ui-datepicker .ui-state-active {
    border-color: #dcdcdc;
    background-color: #cff3f8 !important;
    color: #3e9aba !important;
} 

.ui-datepicker-calendar thead tr th {
    font-family: Open Sans, Arial, sans-serif;
    color: #549fa8;
    font-size: 12px;
    font-weight: 400;
    padding: 0.45em 0.3em !important;
    /*   width: 15px !important; */
}

.openemr-calendar .ui-datepicker-calendar thead tr th {
    font-size: 10px;
}

.ui-datepicker-close {
    display: none;
}

.ui-datepicker thead {
    background-color: #f5f5f5;
}

.openemr-calendar .ui-datepicker thead {
    background: none;
}

.ui-state-default.ui-datepicker-current {
    float: none !important;
    font-family: Open Sans, Arial, sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    border-width: 0 !important;
    border: none;
    vertical-align: top;
    margin: 0 !important;
    background-color: transparent !important;
}

.ui-datepicker-buttonpane.ui-widget-content {
    text-align: center;
    background-color: #3e9aba;
    margin: 0 !important;
    height: 28px;
    padding: 0 !important;
}

.openemr-calendar .ui-datepicker-year {
    background-color: transparent;
}

.openemr-calendar .ui-datepicker-month {
    background-color: transparent;
}

.openemr-calendar .ui-state-default {
    border: 0 !important;
}

.openemr-calendar .ui-datepicker-month {
    margin-right: 10px !important;
}

.ui-datepicker table
    width 280px

.ui-datepicker-prev,
.ui-datepicker-prev.ui-state-hover,
.ui-datepicker-next,
.ui-datepicker-next.ui-state-hover
    background-image: url(../img/arrow.png) !important
    background-repeat: no-repeat

.ui-datepicker-next,
.ui-datepicker-next.ui-state-hover
    transform: scaleX(-1)

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next
    border: 0

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all
    +media(1600px)
        width 100%

.footer
    .ui-button .ui-icon
        background url(../img/down-arrow-corner.png) center no-repeat
        background-size contain


.ui-selectmenu-button-open
    .ui-button .ui-icon
        transform: scaleY(-1) !important

.ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-prev
    +media(1010px)
        display none !important

.ui-icon-triangle-1-s,
.ui-button .ui-icon
    background url(../img/arrow-gray.png) center no-repeat !important
    background-size auto !important
    transform: rotate(90deg) !important
    transition: $fast
    .footer &
        background url(../img/down-arrow-corner.png) center no-repeat !important
        background-size auto !important
        transform: rotate(0) !important

.ui-selectmenu-button-open span.ui-selectmenu-icon.ui-icon.ui-icon-triangle-1-s
    transform: rotate(-90deg) !important
    .footer &
        transform: rotate(180deg) !important

.hasDatepicker
    background #fff url(../img/calendar.png) 95% center no-repeat
    background-size auto

.ui-datepicker table
    +media(1279px)
        width 308px

.drp-calendar.left.single
    padding 0
    width 100%

.show-calendar
    width 280px !important

.daterangepicker .drp-calendar.left .calendar-table
    padding-right 0

.daterangepicker .calendar-table table
    width calc(100% + 9px)

.daterangepicker .calendar-table table
    border-collapse: initial

.daterangepicker .table-condensed td.available
    color #5d5d5d
    font-size 17px
    padding 0
    font-weight 400
    line-height 35px
    width 39px !important
    height 39px !important
    border-collapse: inherit
    border-radius: 50%
    &.active
        color #ffffff
        background $orange

.daterangepicker .table-condensed thead tr:first-child
    background $orange
    height 39px
    th
        border-radius: 0
    .available
        span
            display none
        &.next,
        &.prev
            background url(../img/arrow.png) center no-repeat
            background-size 12px
        &.next
            transform: scale(-1)
    .month
        color #ffffff
        font-size 17px
        font-weight 700
        line-height 35px

.daterangepicker .table-condensed thead
    th
        color #5d5d5d
        font-size 17px
        font-weight 400
        line-height 35px
        &:nth-last-child(1),
        &:nth-last-child(2)
            color #f7901e

.daterangepicker
    margin-top 0
    &::before,
    &::after
        display none

.daterangepicker.show-calendar .ranges
    margin-top 0



.select2-results__options::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
    border: 1px solid transparent;
    box-shadow: inset 0 0 0px 2px #b1b1b1;
}

.select2-results__options::-webkit-scrollbar
{
	width: 4px; 
}

.select2-results__options::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #999;
    height 13px
}

span.select2.select2-container
    width 280px !important
    height 50px !important
    outline: none
    +media(1600px)
        width 200px !important
    +media(1279px)
        width 310px !important
    +media(1010px)
        width 100% !important
    .footer &
        width 230px !important
        height 36px !important

.select2 *
    outline: none

.select2-selection
    height 50px !important
    +media(1279px)
        height 45px !important
    +media(1010px)
        height 38px !important
    .footer &
        height 36px !important
        background transparent
        border-radius: 0
        border: 0
        border-bottom: 1px solid $orange

.select2-container--default .select2-selection--single .select2-selection__rendered
    line-height 50px
    padding-left 13px
    border: 1px solid $orange
    border-radius: 3px
    +media(1279px)
        line-height 42px !important
    +media(1010px)
      line-height 38px !important
    .footer &
        line-height 36px !important
        color $orange

.select2-container--default .select2-selection--single .select2-selection__arrow
    height 50px
    +media(1279px)
        height 45px !important
    .footer &
        height 36px !important

.footer
    .select2-container--open .select2-dropdown--below
        border: 0
    span.select2-dropdown.select2-dropdown--below
        background transparent


.select2-container--default .select2-results__option--highlighted
    background $orange !important
    color #ffffff

.select2-container--default .select2-selection--single .select2-selection__arrow
    width 17px !important
    height 45px !important
    background url(../img/down-arrow.png) center no-repeat !important
    transition: $fast
    margin-right 13px
    filter: grayscale(100)
    +media(1010px)
      height 38px !important
    .footer &
        filter: grayscale(0)
    b
        display none !important

.select2-container--open
    .select2-selection__arrow
        transform: rotate(180deg)


/*.select2-search--dropdown
    display none !important
    .header__tooltype--search &
        display block !important*/

.select2-search--dropdown
    margin-top -50px

.select2-search__field
    border: 0 !important

.select2-container--default .select2-search--dropdown .select2-search__field
    height 32px
    margin-bottom 10px

.select2-dropdown
    border: 0

.select2-search--dropdown
    background #ffffff !important
    padding 0

.header__tooltype--search .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single
    border: 0

.header__tooltype--search span.select2.select2-container
    width 310px !important

span#select2-city-38-container
    border-bottom: 1px solid

.header-drop .select2-search--dropdown
    display block
.select2-search--dropdown
    display none

.selector__footer
    .select2-selection__rendered
        border-bottom: 0

.footer
    .select2
        border-bottom: 1px solid $orange
.footer-drop
    .select2-results
        padding 6px
        border: 1px solid $orange
        background #363535
    .select2-results__option
        color $orange !important
        background transparent !important
        transition: $fast
        &.select2-results__option--highlighted
            color #fff !important
            background $orange !important